# Dependencies
node_modules/

# Nuxt build/generate output
.nuxt/
.output/
dist/

# Environment variables
.env
.env.*
!.env.example

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Playwright
test-results/
playwright-report/

.netlify/